body{
  background-image: url(/assets/images/lfz-background.jpg);
background-repeat: no-repeat;
background-size: contain;
}
.memoryMatchTitle{
  display: flex;
  border: 5px solid salmon;

}
.memoryMatchTitle{
  display: flex;
  border: 5px solid salmon;

}

aside{
  width:25%;
   border: 5px solid salmon;
  border-radius:8px;
  height:75vh;
  display:flex;
  flex-wrap:wrap;

}
.card{
height: 150px;
width: 100px;
position: relative;
display: flex;


}
.back, .front{
    display: flex;
position: absolute;
height: 100%;
width: 100%;
    background-size: contain;
    background-repeat: no-repeat;

}
.back{
  background-image: url(/assets/images/lfz-card.jpg);
}
.js{
  background-image: url(/assets/images/js-logo.png);
}
.hidden{
  display:none;
}
.php{
    background-image: url(/assets/images/php-logo.jpeg);
}
.docker{
    background-image: url(/assets/images/docker-logo.jpg);

}
.github{
    background-image: url(/assets/images/gitHub-logo.png);
}
.htmlpic{
    background-image: url(/assets/images/html-logo.png);

}
.mysql{
    background-image: url(/assets/images/mysql-logo.jpg);

}
.node{
    background-image: url(/assets/images/node-logo.png);
}
.react{
    background-image: url(/assets/images/react-logo.png);
}
