body{
  background-image: url(/assets/images/lfz-background.jpg);
background-repeat: no-repeat;
background-size: contain;
}
.memoryMatchTitle{
  display: flex;
  border: 5px solid salmon;

}
.asidePlusMain{
  display: flex;
}


aside{
  width:20%;
   border: 5px solid salmon;
  border-radius:8px;
  height:75vh;
}
.card{
height: 90vh;
width: 10vh;
position: relative;
display: flex;
}

.gameSpace{
  display: flex;
}
.row1{
  display: flex;
}
.row2{
  display: flex;
}
.row3{
  display: flex;
}

.back, .front{
position: absolute;
height: 100%;
width: 100%;
background-size: contain;
background-repeat: no-repeat;

}
.back{
  background-image: url(/assets/images/lfz-card.jpg);
}
.js{
  background-image: url(/assets/images/js-logo.png);
}
.hidden{
  display:none;
}
.php{
    background-image: url(/assets/images/php-logo.jpeg);
}
.docker{
    background-image: url(/assets/images/docker-logo.jpg);

}
.github{
    background-image: url(/assets/images/gitHub-logo.png);
}
.htmlpic{
    background-image: url(/assets/images/html-logo.png);

}
.mysql{
    background-image: url(/assets/images/mysql-logo.jpg);

}
.node{
    background-image: url(/assets/images/node-logo.png);
}
.react{
    background-image: url(/assets/images/react-logo.png);
}
